header{
    background-color: $maincolor;




    .nav-item:hover{
        transform: scale(1.1);
    transition: 0.9s;




    .j{
        color: red;
    }


    .k{
        color: red;
    }

    }
}